<div class='landing-img'>
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4 text-white">Latest Sport News</h1>
                <p class="lead mb-0 text-white">Check out the latest sport trend</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4" *ngFor='let data of newsList' (click)="redirect()">
            <div class="card">
                <img src={{data.img_url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{data.title}}</h5>
                    <p class="card-text">{{data.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>