<!-- <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About us...</h1>
          <hr>
          <p class="lead text-muted mb-0">This application was created using Angular and Bootstrap.</p>
          <p class="lead text-muted">Go to the <a routerLink="/" class="text-muted">
              <u>Homepage</u></a>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div> -->

<div class="card text-center">
    <!-- <div class="card-header">
        Current Weather
    </div> -->
    <div class="card-body" *ngIf=" city != '' ">
        <h5 class="card-title">{{city}}</h5>
        <p class="card-text">{{temperature}} F</p>
        <p class="card-text">{{weather}}</p>
        <img src={{weatherIcon}}>
    </div>
    <div class="card-body" *ngIf="city == '' ">
        <h3>Turn on location to check current weather</h3>
    </div>
</div>